<% provide(:title, "HOME") %>
<% if logged_in? %>
		<h1 style='color:#E6E6E6'>Construction Map</h1><br/>
	
		<p style="color:white;position: relative;left: -45px;">
		    <b style="font-size:200%">Last Updated: </b><%= @time %>&nbsp;&nbsp;  
			<img src="red.jpg" > Road Closure &nbsp;
			<img src="orange.jpg" > Ongoing Construction &nbsp; 
			<img src="blue.jpg" > Future Construction
		</p>
      <%= render 'map' %>
      <div id="googleMap"></div>
		<div align="right" valign="top" style="position: relative;top:-700px;left:85%; width:200px; height:400px;">
        	<a class="twitter-timeline" href="https://twitter.com/CPSCBot" data-widget-id="581186757653356546" width="200px">Tweets by @CPSCBot</a>

    	</div>

      	<div id='checkbox_box'>
			<div class="check">
			  <label><input type="checkbox" value="" id="RC" checked>Road Closures</label>
			</div>
			<div class="check">
			  <label><input type="checkbox" value="" id="OG" checked>Ongoing Constructions</label>
			</div>
			<div class="check">
			  <label><input type="checkbox" value="" id="FC" checked>Upcoming Constructions</label>
			</div>
   		</div>
   		<button class="btn btn-lg btn-success load_btn" style='position: relative;top:-670px;left:85%;'>
          Refresh Data!
        </button>
        <div id="loading" style="display:none; text-align: center;position: relative;top:-668px;left:86%"><img src="http://stolenmx.com/wp-content/themes/load.gif" width="40px" height="40px" alt="Please Wait" /></div>
		<body background="m.jpg">
		</body>
    <script>document.getElementById("RC").checked = <%= User.find_by(:id => current_user).pref_rc%>;
    document.getElementById("OG").checked = <%= User.find_by(:id => current_user).pref_ip%>;
    document.getElementById("FC").checked = <%= User.find_by(:id => current_user).pref_up%></script>
<% else %>
<div id='welcome_banner'>
	<h1 id='banner_title'>Welcome to Vancouver Construction Map</h1>
</div>
<div id='signup'>
	<p style="font-size:200%;"> Don't have an account? </p>
	<%= link_to "Sign up now!", signup_path, style:"width: 400px;font-size: 250%;", class: "btn btn-lg btn-primary" %>
	<body background="1.jpg">
	</body>
	<% end %>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

