<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<% k = retrieve_all("In Process") %>
<h1 onclick="if (IP.style.display == 'block') {IP.style.display = 'none';} else {IP.style.display = 'block';}">In Process Constructions:</h1>
<div id = "IP" style="display:none;">
  <% k.each do |d| %>
      <h4><%= d.title %></h4>
      <%= "Description: " + d.description + "\n" %><br>
      <%= "ID: " + d.c_id + "\n" %><br>
      <%= "Link: " + d.link + "\n" %><br>
      <%= "Published: " + d.published.to_s + "\n" %><br>
      <%= "Updates: " + d.updated.to_s + "\n" %><br>
      <%= "Coordinates: " + d.coord.to_s + "\n" %><br><br><br>
  <% end %>
</div>
<% k = retrieve_all("Upcoming Project") %><br>
<h1 onclick="if (UP.style.display == 'block') {UP.style.display = 'none';} else {UP.style.display = 'block';}">Upcoming Project Constructions:</h1>
<div id = "UP" style="display:none;">
  <% k.each do |d| %>
      <h4><%= d.title %></h4>
      <%= "Description: " + d.description + "\n" %><br>
      <%= "ID: " + d.c_id + "\n" %><br>
      <%= "Link: " + d.link + "\n" %><br>
      <%= "Published: " + d.published.to_s + "\n" %><br>
      <%= "Updates: " + d.updated.to_s + "\n" %><br>
      <%= "Coordinates: " + d.coord.to_s + "\n" %><br><br><br>
  <% end %>
</div>
<% k = retrieve_all("Road Closure") %><br>
<h1 onclick="if (RC.style.display == 'block') {RC.style.display = 'none';} else {RC.style.display = 'block';}">Road Closure Constructions:</h1>
<div id = "RC" style="display:none;">
  <% k.each do |d| %>
      <h4><%= d.title %></h4>
      <%= "Description: " + d.description + "\n" %><br>
      <%= "ID: " + d.c_id + "\n" %><br>
      <%= "Link: " + d.link + "\n" %><br>
      <%= "Published: " + d.published.to_s + "\n" %><br>
      <%= "Updates: " + d.updated.to_s + "\n" %><br>
      <%= "Coordinates: " + d.coord.to_s + "\n" %><br><br><br>
  <% end %>
</div>
</body>
</html>