<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <% if logged_in? %>
          <ul  class="nav navbar-nav navbar-left" style="display:inline;">
            <li> <div style="top: margin: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, 50%)"><a class="twitter popup" href="https://twitter.com/share?text=Check%20road%20closures%20with%20VanConstructionApp">
                        <img src="https://caribbeanpoetry.educ.cam.ac.uk/images/Home/twitterICON.png" width="26" height="26"></a>
            </div>
            </li>
            <li> <div style="top: margin: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(125%, 55%)">
              <a class="facebook popup" href="https://www.facebook.com/sharer.php?u="><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png" width="24" height="24"></a>
              </div>
            </li>
            <li>
              <div style="top: margin: 0;
                      position: absolute;
                      top: 50%;
                      transform: translate(250%, 55%)">
                <a class="google+ popup" href="https://plus.google.com/share?url=[URL]"><img src="https://icons.iconarchive.com/icons/danleech/simple/512/google-plus-icon.png" width="24" height="24"></a>
              </div>
            </li>
          </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Construction Table", table_path %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Users", users_path %></li>
              <% end %>  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "About",   about_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
          </ul>
        </nav>
      </div>
     </header>
<script>
    $('.popup').click(function(event) {
        var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                url    = this.href,
                opts   = 'status=1' +
                        ',width='  + width  +
                        ',height=' + height +
                        ',top='    + top    +
                        ',left='   + left;

        window.open(url, 'twitter', opts);

        return false;
    });
</script>

